@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject DialogService DialogService

<RadzenLayout>
    <RadzenHeader>
        <div class="header-content">
            <span class="header-logo">PumpAhead</span>
            <div class="header-nav">
                <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
                <NavLink href="/heating-curve">Krzywa grzewcza</NavLink>
                <RadzenButton Icon="refresh" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Click="@OnRefresh" title="Refresh" />
                <RadzenButton Icon="settings" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Click="@OnSettings" title="Settings" />
            </div>
        </div>
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>

<RadzenComponents />

@code {
    private void OnRefresh()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    private async Task OnSettings()
    {
        await DialogService.OpenAsync<SettingsDialog>("Ustawienia",
            options: new DialogOptions
            {
                Width = "500px",
                Height = "auto",
                CloseDialogOnOverlayClick = true
            });
    }
}
