<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <HeadOutlet />
    <link href="_content/Radzen.Blazor/css/material-dark-base.css" rel="stylesheet" />
    <link href="_content/PumpAhead.Adapters.Gui/css/site.css" rel="stylesheet" />
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_content/PumpAhead.Adapters.Gui/js/charts.js" type="module"></script>
</body>
</html>
