@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" class="rz-p-3">
            <RadzenLink Path="/" Style="text-decoration: none; display: flex; align-items: center;">
                <RadzenText TextStyle="TextStyle.H5" Style="color: var(--rz-text-color); margin: 0; line-height: 1;">PumpAhead</RadzenText>
            </RadzenLink>
            <RadzenLink Path="/" Style="text-decoration: none; display: flex; align-items: center; margin-left: 1rem;">
                <RadzenText TextStyle="TextStyle.Body1" Style="color: var(--rz-text-color); margin: 0; line-height: 1;">Dashboard</RadzenText>
            </RadzenLink>
            <RadzenLink Path="/heating-curve" Style="text-decoration: none; display: flex; align-items: center;">
                <RadzenText TextStyle="TextStyle.Body1" Style="color: var(--rz-text-color); margin: 0; line-height: 1;">Krzywa grzewcza</RadzenText>
            </RadzenLink>
            <div style="flex-grow: 1;"></div>
            <HeaderButtons />
        </RadzenStack>
    </RadzenHeader>

    <RadzenBody class="rz-p-4">
        <div style="max-width: 1600px; margin: 0 auto;">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
